@mixin button_height_width($bgcolor, $color, $shadow) {
    height: 40px;
    width: 100px;
    background-color: $bgcolor;
    color: $color;
    box-shadow: 2px 3px 5px $shadow;
    font-size: larger;
    font-weight: 700;
    cursor: pointer;
    border-radius: 10px;
}

@mixin search-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    font-size: 20px;
}


@mixin cards {
    display: flex;
    flex-flow: wrap row;
    gap: 50px;
    justify-content: center;


}

@mixin subcards {
    display: flex;
    flex-flow: wrap column;
    height: 400px;
    width: 400px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 2px 2px 5px grey;
    cursor: pointer;


}

@mixin subcards-img {
    height: 200px;
    width: 400px;
    background-size: cover;
    background-position: center;
    border-radius: 10px 10px 0px 0px;
}

@mixin h1_style {
    margin: 30px 20px;
    color: gold;
    -webkit-text-stroke: 0.5px blueviolet;
    font-size: 50px;
    text-decoration-line: underline;
    text-decoration-color: blue;
}