@import "_var.scss";
@import "_mixin.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Momo Trust Display", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-image: radial-gradient(circle at center center, rgba(217, 217, 217, 0.05) 0%, rgba(217, 217, 217, 0.05) 15%, rgba(197, 197, 197, 0.05) 15%, rgba(197, 197, 197, 0.05) 34%, rgba(178, 178, 178, 0.05) 34%, rgba(178, 178, 178, 0.05) 51%, rgba(237, 237, 237, 0.05) 51%, rgba(237, 237, 237, 0.05) 75%, rgba(138, 138, 138, 0.05) 75%, rgba(138, 138, 138, 0.05) 89%, rgba(158, 158, 158, 0.05) 89%, rgba(158, 158, 158, 0.05) 100%), radial-gradient(circle at center center, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 6%, rgb(255, 255, 255) 6%, rgb(255, 255, 255) 12%, rgb(255, 255, 255) 12%, rgb(255, 255, 255) 31%, rgb(255, 255, 255) 31%, rgb(255, 255, 255) 92%, rgb(255, 255, 255) 92%, rgb(255, 255, 255) 97%, rgb(255, 255, 255) 97%, rgb(255, 255, 255) 100%);
    background-size: 42px 42px;
}

.Navbar {
    height: 60px;
    display: flex;
    justify-content: space-between;
    background-color: $background;
}

.Logo-and-Brand {
    display: flex;
    align-items: center;

    .Logo {
        background-image: url("./Images/Favicon.png");
        height: 50px;
        width: 50px;
        background-size: cover;
    }

    .brand-name {
        font-size: 30px;
        font-weight: 800;
        color: $primary-color;
    }
}

.nav {
    margin-top: 15px;

    ul {
        display: flex;
        gap: 30px;

        li {
            list-style-type: none;

            a {
                text-decoration-line: none;
                color: $primary-color;
                font-size: 20px;

                &:hover {
                    background-image: linear-gradient(-225deg, #231557 0%, #44107A 29%, #FF1361 67%, #FFF800 100%);
                    color: $primary-color;
                    transition: 0.5s;
                    padding: 10px 15px;

                }
            }
        }
    }
}

.Register-signin {
    margin: 5px;

    button {
        @include button_height_width(white, grey, grey);
    }

    & button:hover {
        background-image: linear-gradient(-225deg, #231557 0%, #44107A 29%, #FF1361 67%, #FFF800 100%);
        color: $primary-color;
        transform: scale(1.1);
        transition: 0.5s;
    }
}

.header {
    .header-img {
        background-image: url("./Images/Header.jpg");
        background-size: cover;
        background-position: center;
        height: 600px;
        place-content: center;
        text-align: center;
        position: relative;

        h1 {
            color: $primary-color;
            font-size: 80px;
        }

        p {
            margin-top: 50px;
            color: $primary-color;
            font-size: 30px;
            -webkit-text-stroke: 1px blueviolet
        }
    }
}

.Search {
    display: flex;
    background-color: rgba(220, 8, 107, 0.5);
    height: 100px;
    width: 1000px;
    gap: 50px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    color: $primary-color;
    position: absolute;
    place-self: center;
    top: 600px;
    box-shadow: 2px 3px 5px rgb(20, 18, 18);
    border: 5px solid grey;
    cursor: pointer;

    &:hover {
        padding: 50px 50px;
        transition: 0.6s;
        background-image: linear-gradient(-225deg, #231557 0%, #44107A 29%, #FF1361 67%, #FFF800 100%);
        transform: scale(1.1);
    }

    .location {
        @include search-bar;
    }

    .check-in {
        @include search-bar;
    }

    .checkout {
        @include search-bar;
    }

    .Guests {
        @include search-bar;
    }

    input {
        height: 40px;
        width: 110px;
        border-radius: 10px;
        border: 3px solid rgb(126, 122, 122);
        background-color: rgba(170, 86, 7, 0.399);
        color: white;

        &:hover {
            background-image: linear-gradient(-225deg, #231557 0%, #44107A 29%, #FF1361 67%, #FFF800 100%);
            color: $primary-color;
            transition: 0.5s;
            height: 50px;
            width: 150px;
            transform: scale(1.1);
        }
    }

    select {
        height: 40px;
        width: 110px;
        border-radius: 10px;
        border: 3px solid rgb(126, 122, 122);
        background-color: rgba(170, 86, 7, 0.399);
        color: white;

        &:hover {
            background-image: linear-gradient(-225deg, #231557 0%, #44107A 29%, #FF1361 67%, #FFF800 100%);
            color: $primary-color;
            transition: 0.5s;
            height: 50px;
            width: 150px;
            transform: scale(1.1);
        }
    }

    button {
        height: 50px;
        width: 150px;
        border-radius: 5px;
        font-size: 15px;
        font-weight: 600;
        cursor: pointer;
        border: 3px solid rgb(126, 122, 122);
        background-color: rgba(170, 86, 7, 0.399);
        color: white;

        &:hover {
            height: 80px;
            width: 200px;
            background-image: linear-gradient(-225deg, #231557 0%, #44107A 29%, #FF1361 67%, #FFF800 100%);
            color: $primary-color;
            transition: 0.5s;
            font-size: 20px;
            border-radius: 50px;
            transform: scale(1.1);
        }
    }
}

.feature-card {
    display: flex;
    margin-top: 100px;
    justify-content: center;
    gap: 50px;

    .card {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 250px;
        width: 400px;
        background-color: $primary-color;
        gap: 30px;
        padding: 10px;
        border-radius: 50px;
        box-shadow: 2px 3px 5px black;

        img {
            height: 50px;
            width: 50px;
        }

        &:hover {
            background-color: blueviolet;
            color: white;
            transition: 0.6s;
            padding: 30px;
            transform: scale(1.1);
        }
    }
}

.featured-hotels {
    @include h1_style;
}

.Popular-Destinations {
    @include h1_style;
}

.cards {
    @include cards;

    .subcards {
        @include subcards;

        &:hover {
            margin: 20px 10px;
            box-shadow: 5px 6px 7px black;
            transition: 0.8s;
            transform: scale(1.1);
        }

        .subcards-img-1 {
            @include subcards-img;
            background-image: url("./Images/Delhi.jpeg");
        }

        .subcards-img-2 {
            @include subcards-img;
            background-image: url("./Images/hote\ 2.jpeg");
        }

        .subcards-img-3 {
            @include subcards-img;
            background-image: url("./Images/hotel\ 3.jpeg");
        }

        .subcards-img-4 {
            @include subcards-img;
            background-image: url("./Images/hotel\ 4.jpeg");
        }

        .subcards-img-5 {
            @include subcards-img;
            background-image: url("./Images/hotel\ 5.jpeg");
        }

        .subcards-img-6 {
            @include subcards-img;
            background-image: url("./Images/hotel\ 6.jpeg");
        }

        h2 {
            font-size: 20px;
            margin: 10px;
        }

        h3 {
            font-size: 15px;
            margin-left: 10px;
            color: grey;
        }

        .facilities {
            display: flex;
            font-size: 15px;
            gap: 20px;
            margin: 10px 10px;
            color: firebrick;
        }

        .pricing {
            display: flex;
            justify-content: space-around;
            margin: 20px 20px;
            gap: 20px;

            &:hover {
                color: blueviolet;
            }

            span {
                font-size: 30px;
            }

            button {
                height: 50px;
                width: 100px;
                border-radius: 50px;
                background-color: blueviolet;
                color: white;
                font-size: 15px;
                font-weight: 800;

                &:hover {
                    width: 150px;
                    background: #9305f2;
                    background-image: linear-gradient(-225deg, #231557 0%, #44107A 29%, #FF1361 67%, #FFF800 100%);
                    padding: 10px 10px;
                    transition: 0.5s;
                    transform: scale(1.1);
                }
            }
        }
    }

}

.subcards-img1 {
    @include subcards-img;
    height: 250px;
    background-image: url("./Images/HOTEL\ 1.jpeg");
}

.subcards-img2 {
    @include subcards-img;
    height: 250px;
    background-image: url("./Images/HOTEL\ 2.jpeg");
}

.subcards-img3 {
    @include subcards-img;
    height: 250px;
    background-image: url("./Images/HOTEL\ 3\ \(3\).jpeg");
}

.subcards-img4 {
    @include subcards-img;
    height: 250px;
    background-image: url("./Images/HOTEL\ 4\ \(2\).jpeg");
}

.subcards-img5 {
    @include subcards-img;
    height: 250px;
    background-image: url("./Images/HOTEL\ 5\ \(2\).jpeg");
}

.subcards-img6 {
    @include subcards-img;
    height: 250px;
    background-image: url("./Images/HOTEL\ 6\ \(2\).jpeg");
}

.Limited-time-offers {
    @include h1_style;
}


.subcards_img1 {
    background-image: url("./Images/Limited\ time\ offer\ 1.jpeg");
    @include subcards-img;

}

.subcards_img2 {
    background-image: url("./Images/Limited\ time\ offer\ 2.jpeg");
    @include subcards-img;

}

.subcards_img3 {
    background-image: url("./Images/Limited\ time\ offer\ 3.jpeg");
    @include subcards-img;

}

.pricing-booknow {
    margin-top: 40PX;
    display: flex;
    justify-content: space-around;
    
    .pricingS {
        
        color: #9305f2;

        p {
            font-size: 20px;

            span {
                text-decoration-line: line-through;
                font-size: 15px;
                color: grey;
            }
        }
    }

    button {
        @include button_height_width(blueviolet, white, grey); 

        &:hover {
            background-image: linear-gradient(-225deg, #231557 0%, #44107A 29%, #FF1361 67%, #FFF800 100%);
            color: $primary-color;
            transition: 0.5s;
            transform: scale(1.5);
        }
    }
}

.off {
    background-color: #FFF800;
    color: white;
    text-align: center;
    -webkit-text-stroke: 0.5px black;
}