* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Momo Trust Display", sans-serif;
  font-weight: 400;
  font-style: normal;
  background-image: linear-gradient(45deg, #93a5cf 0%, #e4efe9 100%);
}

.Navbar {
  height: 60px;
  display: flex;
  justify-content: space-between;
  background-color: rgba(222, 11, 127, 0.463);
}

.Logo-and-Brand {
  display: flex;
  align-items: center;
}
.Logo-and-Brand .Logo {
  background-image: url("./Images/Favicon.png");
  height: 50px;
  width: 50px;
  background-size: cover;
}
.Logo-and-Brand .brand-name {
  font-size: 30px;
  font-weight: 800;
  color: white;
}

.nav {
  margin-top: 15px;
}
.nav ul {
  display: flex;
  gap: 30px;
}
.nav ul li {
  list-style-type: none;
}
.nav ul li a {
  text-decoration-line: none;
  color: white;
  font-size: 20px;
}
.nav ul li a:hover {
  background-color: blue;
  color: white;
  transition: 0.5s;
  padding: 10px 15px;
}

.Register-signin {
  margin: 5px;
}
.Register-signin button {
  height: 40px;
  width: 100px;
  background-color: white;
  color: grey;
  box-shadow: 2px 3px 5px grey;
  font-size: larger;
  font-weight: 700;
  cursor: pointer;
  border-radius: 10px;
}
.Register-signin button:hover {
  background-color: blue;
  color: white;
}

.header .header-img {
  background-image: url("./Images/Header.jpg");
  background-size: cover;
  background-position: center;
  height: 600px;
  place-content: center;
  text-align: center;
  position: relative;
}
.header .header-img h1 {
  color: white;
  font-size: 80px;
}
.header .header-img p {
  margin-top: 50px;
  color: white;
  font-size: 30px;
  -webkit-text-stroke: 1px blueviolet;
}

.Search {
  display: flex;
  background-color: rgba(186, 22, 68, 0.996);
  height: 100px;
  width: 1000px;
  gap: 50px;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  color: white;
  position: absolute;
  place-self: center;
  top: 600px;
  box-shadow: 2px 3px 5px rgb(20, 18, 18);
  border: 5px solid grey;
}
.Search .location {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  font-size: 20px;
}
.Search .check-in {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  font-size: 20px;
}
.Search .checkout {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  font-size: 20px;
}
.Search .Guests {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  font-size: 20px;
}
.Search input {
  height: 40px;
  width: 110px;
  border-radius: 10px;
  border: 3px solid rgb(126, 122, 122);
}
.Search input:hover {
  background-color: blue;
  color: white;
  transition: 0.5s;
  height: 50px;
  width: 150px;
}
.Search select {
  height: 40px;
  width: 110px;
  border-radius: 10px;
  border: 3px solid rgb(126, 122, 122);
}
.Search select:hover {
  background-color: blue;
  color: white;
  transition: 0.5s;
  height: 50px;
  width: 150px;
}
.Search button {
  height: 50px;
  width: 150px;
  border-radius: 5px;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  border: 3px solid rgb(126, 122, 122);
}
.Search button:hover {
  height: 80px;
  width: 200px;
  background-color: blue;
  color: white;
  transition: 0.5s;
  font-size: 20px;
  border-radius: 50px;
  border: 5px solid black;
}/*# sourceMappingURL=style.css.map */